.vs/
out/
build/
logs/
vcpkg_installed/
certs/
*.sqlite
*.sqlite-shm
*.sqlite-wal
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
ALL_BUILD.vcxproj*
ZERO_CHECK.vcxproj*
*.sln
*.vcxproj
*.vcxproj.filters
*.user
